.tabbar {
  width: 375px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  padding: 30px 15px 10px 15px;
}

.tabs {
  display: flex;
  gap: 15px;
}

.tab {
  display: flex;
  width: 75px;
  height: 21px;
  font-family: 'Roboto', sans-serif;
  font-size: var(--xl);
  font-weight: 700;
  border: none;
  margin: none;
  color: var(--clr-grey);
}

.tab.active {
  color: var(--clr-highlight-orange);
}

.filterbutton {
  border: none;
  margin: none;
}

.filtericon {
  color: var(--clr-grey);
  width: 21px;
  height: 21px;
}
.mobile {
  display: block;
}

.desktop {
  display: none;
}

@media (min-width: 600px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
  .tabbar {
    width: 100%;
    padding-left: 32px;
  }

  .show {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .show p {
    font-family: 'Roboto';
    font-size: var(--m);
    font-weight: 400;
  }

  p.current {
    font-size: var(--xl);
    font-weight: 600;
    font-family: 'Roboto';
  }
}
