.postcard {
  width: 344px;
  border: 1px solid var(--clr-border-grey);
  border-radius: 4px;
  background-color: var(--clr-background-lightest);
  overflow-wrap: break-word;
}

.cardheader {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--clr-background-grey-50);
  text-align: left;
}

.categorisation {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feed {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--clr-dark-blue);
}

.feedicon {
  line-height: 16px;
}

.datebox {
  display: flex;
  align-items: center;
  font-size: var(--s);
  gap: 5px;
}

.datebox p {
  font-size: var(--s);
  font-weight: 400;
  text-align: right;
}

.dateicon {
  color: var(--clr-grey);
  height: 15px;
  width: 15px;
  line-height: 15px;
}

.cardtitlemobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 15px 17px 15px;
  border: 1px solid var(--clr-background-grey);
  border-style: none none solid none;
}

.cardtitledesktop {
  display: none;
}

.authorinfo {
  height: 21px;
  display: flex;
  gap: 6px;
}

.authorinfo p {
  font-size: var(--s);
  font-weight: 700;
  color: var(--clr-light-grey);
}

.titlebox {
  display: flex;
  text-align: left;
  gap: 12px;
}

.authorimg {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
}

.cardcontent {
  text-align: left;
  padding: 15px;
  overflow-wrap: break-word;
}

.postbuttons {
  width: 246px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 18px 17px;
}

.likebutton {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.savebutton {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.likebutton p {
  font-size: var(--l);
  line-height: 20px;
  font-weight: 400;
}

.savebutton p {
  font-size: var(--l);
  line-height: 20px;
  font-weight: 400;
}

.menubutton {
  height: 17px;
  width: auto;
  color: var(--clr-grey);
  cursor: pointer;
}

.likeicon {
  content: '\f004';
  font-weight: 400;
  color: var(--clr-grey);
}

.saveicon {
  content: '\f02e';
  font-weight: 400;
  color: var(--clr-grey);
}

.solid.likeicon {
  content: '\f004';
  font-weight: 900;
  color: var(--clr-red);
}

.solid.saveicon {
  content: '\f02e';
  font-weight: 900;
  color: var(--clr-green);
}
.red {
  color: var(--clr-red);
}
.green {
  color: var(--clr-green);
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

.subfeed {
  color: var(--clr-blue);
}

@media (min-width: 600px) {
  .postcard {
    width: 100%;
  }
  .cardheader {
    padding: 15px 28px;
  }

  .categorisation {
    flex-direction: row;
    align-items: center;
    width: 80%;
    gap: 10px;
  }

  .categorisation h2 {
    font-size: var(--xl);
  }

  .feed {
    gap: 8px;
  }

  .feed h3 {
    font-size: var(--xl);
  }

  .cardtitlemobile {
    display: none;
  }

  .cardtitledesktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 30px 20px 30px;
    border: 1px solid var(--clr-background-grey);
    border-style: none none solid none;
  }

  .authorinfo {
    display: flex;
  }

  .authorinfo p {
    font-size: var(--l);
  }

  .authorimg {
    width: 50px;
    height: 50px;
    margin-top: 5px;
  }

  .titlebox {
    flex-direction: column;
    padding-left: 20px;
    gap: 6px;
  }

  .cardcontent {
    padding: 15px 30px;
  }

  .postbuttons {
    width: 50%;
    padding: 15px 30px 20px 30px;
    gap: 45px;
    justify-content: flex-start;
  }

  .likebutton p {
    font-size: var(--xl);
    line-height: 20px;
    font-weight: 400;
  }

  .savebutton p {
    font-size: var(--xl);
    line-height: 20px;
    font-weight: 400;
  }

  .menubutton {
    font-size: var(--xl);
  }

  .likeicon {
    font-size: var(--xl);
  }

  .saveicon {
    font-size: var(--xl);
  }

  .likeicon:hover,
  .likebutton:hover .likeicon {
    color: var(--clr-red);
  }

  .saveicon:hover,
  .savebutton:hover .saveicon {
    color: var(--clr-green);
  }

  .likebutton:hover p {
    color: var(--clr-red);
  }

  .savebutton:hover p {
    color: var(--clr-green);
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .tooltipcontainer {
    position: relative;
  }
}
