.App {
  text-align: center;
}

.display {
  display: flex;
  flex-direction: column;
}

.maincolumn {
  width: 100%;
}

.widgets {
  width: 100%;
}

@media (min-width: 600px) {
  .App {
    display: flex;
  }

  .display {
    flex-direction: row;
  }

  .maincolumn {
    flex-grow: 2;
    width: 50%;
  }

  .widgets {
    flex-grow: 1;
  }
}
