.App {
  text-align: center;
}

.display {
  display: flex;
  flex-direction: column;
}

.maincolumn {
  width: 100%;
}

@media (min-width: 600px) {
  .App {
    display: flex;
  }

  .display {
    flex-direction: row;
  }
}
