* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Color */
  --clr-dark: #242d38;
  --clr-dark-blue: #304c70;
  --clr-blue: #7598c4;
  --clr-light-blue: #e0e8f2;
  --clr-background-grey: #ececf1;
  --clr-background-grey-50: rgba(236, 236, 241, 0.5);
  --clr-highlight-orange: #e4871b;
  --clr-dark-grey: #49494f;
  --clr-grey: #8c8d91;
  --clr-light-grey: #a3a3a8;
  --clr-background-lightest: #ffffff;
  --clr-border-grey: #dddedf;
  --clr-red: #d25746;
  --clr-green: #338473;
  --clr-white: #ffffff;

  /* Size */
  --xxxl: 22.4px;
  --xxl: 19.2px;
  --xl: 17.6px;
  --l: 16px;
  --m: 14.72px;
  --s: 12.8px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-background-grey);
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: var(--xl);
  color: var(--clr-dark-grey);
  line-height: 20.8px;
}

h2 {
  font-weight: 700;
  font-size: var(--l);
  color: var(--clr-blue);
}

h3 {
  font-weight: 700;
  font-size: var(--m);
  color: var(--clr-dark-blue);
}

p {
  font-size: var(--m);
  font-weight: 300;
  line-height: 20px;
  color: var(--clr-dark-grey);
}

a {
  color: var(--clr-highlight-orange);
}

@media (min-width: 600px) {
  h1 {
    font-size: var(--xxxl);
    line-height: 25.6px;
  }
  p {
    font-size: var(--xxl);
    line-height: 22.4px;
  }
}
